<form action="/signup" method="post">
    <p>Nombre de usuario</p>
    <input type="text" name="username" id="">
    <p>Email</p>
    <input type="email" name="email" id="">
    <p>Contraseña</p>
    <input type="password" name="password" id="">
    <p>Confirma Contraseña</p>
    <input type="password" name="confirmPassword" id="">
    <button type="submit">Sign Up</button>
</form>