<form action="/signin" method="post">
    <p>email</p>
    <input type="email" name="email" id="email">
    <p>password</p>
    <input type="password" name="password" id="password">
    <button type="submit">Sign In</button>
</form>